<% content_for :toc_list do %>
  <ul>
  <% app_pages.group_by(&:type).each do |name, apps| %>
    <li><%= link_to name, '#' %></li>

    <ul>
    <% apps.each do |app| %>
      <li><%= link_to app.title, "/apps/#{app.app_name}.html" %></li>
    <% end %>
    </ul>
  <% end %>
  </ul>
<% end %>

<% content_for :toc_page do %>
  <%= partial 'partials/header' %>

  <% if locals.key?(:page) %>
    <%= partial 'partials/source', page: page %>
  <% end %>

  <%= yield %>

  <% if locals.key?(:page) %>
    <%= partial 'partials/source', page: page %>
  <% end %>
<% end %>

<% wrap_layout :govuk_docs %>
