---
layout: application_layout
parent: /apps.html
source_url: https://github.com/alphagov/govuk-developer-docs/blob/master/data/applications.yml
edit_url: https://github.com/alphagov/govuk-developer-docs/edit/master/data/applications.yml
---

<%= application.description %>

<% if application.retired? %>

This application is retired.

- <%= link_to "GitHub repo", application.repo_url %>

<% else %>

<% if application.team %>
Owned by team **<%= application.team %>**.
<% else %>
> The team that owns this application isn't specified. Help out by
[adding a team name to the YAML configuration][app-yaml].
<% end %>

### Links

- <%= link_to "GitHub repo", application.repo_url %>
- <%= link_to "Puppet configuration", application.puppet_url %>
- <%= link_to "Deploy scripts", application.deploy_url %>

<% if application.production_url %>
- <%= link_to application.production_url.gsub('https://', ''), application.production_url %>
<% end %>

<% if application.machine_classes.any? %>
### SSH
<% end %>

SSH into these machines like this:

<% application.machine_classes.each do |machine_class| %>
```sh
$ ssh <%= machine_class %>-1.integration
$ ssh <%= machine_class %>-1.staging
$ ssh <%= machine_class %>-1.production
```
<% end %>

<% if application.example_published_pages %>
### Example pages published by <%= application.app_name %>

<% application.example_published_pages.each do |example| %>
- <%= link_to example['title'], "https://www.gov.uk#{example['link']}" %></li>
<% end %>
<% end %>

<% if application.example_rendered_pages %>
### Example pages rendered by <%= application.app_name %>

<% application.example_rendered_pages.each do |example| %>
- <%= link_to example['title'], "https://www.gov.uk#{example['link']}" %>
<% end %>
<% end %>

<% end %>

<%= partial 'partials/source', locals: { page: current_page.data } %>

[app-yaml]: https://github.com/alphagov/govuk-developer-docs/edit/master/data/applications.yml
